#!/bin/sh
#
# DevTools <http://github.com/piwi/dev-tools>
# "version-tag" action hook
#
# An example hook script called before version tag creation.
# It will receive three arguments:
# - $1: the project path to work on
# - $2: the tag name to create 
# - $3: the branch name 
#
# To enable your hook, define the `DEFAULT_VERSIONTAG_HOOK` configuration variable on
# the script path.

PROJECT_PATH="$1"
TAG_NAME="$2"
BRANCH_NAME="$3"

